 <!--================Slider Area =================-->
 <section class="main_slider_area">
  <div id="main_slider" class="rev_slider" data-version="5.3.1.6">
      <ul>
          <li data-index="rs-2946" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->
              <img src="./assets/img/home-slider/slider-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
              <!-- LAYER NR. 1 -->
              <div class="slider_text_box">
                  <div class="tp-caption tp-resizeme rev-btn first_text"
                  data-x="['center','center','center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-130','-130','-130','-80','-80','-80']"
                  data-fontsize="['12','12','12','12','12']"
                  data-lineheight="['64','64','64','50','35']"
                  data-width="['550','550','550','550','300']"
                  data-height="none"
                  data-whitespace="normal"
                  data-type="text"
                  data-type="button"
                  data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-2971-layer-18","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-2971-layer-18","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-15","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-19","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-20","delay":"1000"},{"event":"click","action":"playvideo","layer":"slide-2971-layer-15","delay":"1000"}]'
                  data-responsive_offset="on"
                  data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                  data-textAlign="['center','center','center','center','center','center']"
                  style="z-index: 8;font-family: 'Poppins', sans-serif;font-weight:600;color:#fff;text-transform: uppercase;"><img src="img/play-video.png" alt=""> <span style="text-decoration: underline;padding-left: 10px;">Watch The Overview</span></div>

                  <!-- LAYER NR. 10 -->
                  <div class="tp-caption   tp-resizeme tp-videolayer"
                  id="slide-2971-layer-15"
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                  data-whitespace="nowrap"

                  data-type="video"
                  data-responsive_offset="on"

                  data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":300,"to":"auto:auto;","ease":"nothing"}]'
                  data-vimeoid="142874198" data-videoattributes="title=0&byline=0&portrait=0&api=1" data-videowidth="['960px','720px','480px','360px']"
                  data-videoheight="['540px','405px','270px','203px']" data-videoloop="none"         data-textAlign="['left','left','left','left']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  data-lasttriggerstate="reset"           data-autoplay="off"
                  data-volume="100"
                  style="z-index: 14;text-transform:left;border-width:0px;"> </div>

                  <!-- LAYER NR. 11 -->
                  <div class="tp-caption Agency-CloseBtn rev-btn "
                  id="slide-2971-layer-20"
                  data-x="['center','center','center','center']" data-hoffset="['510','389','270','199']"
                  data-y="['middle','middle','middle','middle']" data-voffset="['-298','-229','-163','-118']"
                  data-width="50"
                  data-height="none"
                  data-whitespace="nowrap"

                  data-type="button"
                  data-actions='[{"event":"click","action":"stoplayer","layer":"slide-2971-layer-15","delay":""},{"event":"click","action":"stoplayer","layer":"slide-2971-layer-19","delay":""},{"event":"click","action":"stoplayer","layer":"slide-2971-layer-20","delay":""}]'
                  data-responsive_offset="on"
                  data-responsive="off"
                  data-frames='[{"from":"z:0;rX:0;rY:0;rZ:45deg;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"auto:auto;","ease":"nothing"},{"frame":"hover","speed":"500","ease":"Power1.easeInOut","to":"o:1;sX:1.1;sY:1.1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  data-lasttriggerstate="reset"
                  style="z-index: 15; min-width: 50px; max-width: 50px; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;font-size: 24px;"><i class="fa fa-close"></i> </div>

                  <div class="tp-caption tp-resizeme secand_text"
                      data-x="['center','center','center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['middle','middle','middle','middle']"
                      data-voffset="['0','0','0','0','0']"
                      data-fontsize="['48','48','48','28','28','22']"
                      data-lineheight="['60','60','60','36','36','30']"
                      data-width="100%"
                      data-height="none"
                      data-whitespace="normal"
                      data-type="text"
                      data-responsive_offset="on"
                      data-transform_idle="o:1;"
                      data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                      data-textAlign="['center','center','center','center','center','center']"

                      style="z-index: 8;font-family:'Poppins', sans-serif;font-weight:700;color:#fff;">Website Design, Brand Strategy, <br />Digital Marketing with Stunning Results
                  </div>

                  <div class="tp-caption tp-resizeme slider_button"
                      data-x="['center','center','center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['middle','middle','middle','middle']"
                      data-voffset="['130','130','130','100','100','100']"
                      data-width="none"
                      data-height="none"
                      data-whitespace="nowrap"
                      data-type="text"
                      data-responsive_offset="on"
                      data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                      data-textAlign="['center','center','center','center','center','center']">
                      <a class="bg_btn" href="#">About Us</a>
                      <a class="tp_btn" href="#">Get a quote</a>
                  </div>
              </div>
          </li>
          <li data-index="rs-2947" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->
              <img src="./assets/img/home-slider/slider-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
              <!-- LAYER NR. 1 -->
              <div class="slider_text_box">
                  <div class="tp-caption tp-resizeme secand_text"
                      data-x="['center','center','center','center','center','center']"
                      data-hoffset="['0','80','80','0']"
                      data-y="['middle','middle','middle','middle']"
                      data-voffset="['0','0','0','0','0']"
                      data-fontsize="['48','48','48','28','28','22']"
                      data-lineheight="['60','60','60','36','36','30']"
                      data-width="100%"
                      data-height="none"
                      data-whitespace="normal"
                      data-type="text"
                      data-responsive_offset="on"
                      data-transform_idle="o:1;"
                      data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                      data-textAlign="['center','center','center','center','center','center']"

                      style="z-index: 8;font-family:'Poppins', sans-serif;font-weight:700;color:#fff;">Diseño y Desarrollo Web <br />Desarrollo Aplicaciones Moviles
                  </div>

                  <div class="tp-caption tp-resizeme slider_button"
                      data-x="['center','center','center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['middle','middle','middle','middle']"
                      data-voffset="['130','130','130','100','100','100']"
                      data-width="none"
                      data-height="none"
                      data-whitespace="nowrap"
                      data-type="text"
                      data-responsive_offset="on"
                      data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                      data-textAlign="['center','center','center','center','center','center']">
                      <a class="bg_btn" href="#">Mas Detalles</a>
                      <a class="tp_btn" href="#">Registrate</a>
                  </div>
              </div>
          </li>
      </ul>
  </div>
</section>
<!--================End Slider Area =================-->
