<!--================End Header Menu Area =================-->

        <!--================Banner Area =================-->
        <section class="banner_area">
          <div class="container">
              <div class="banner_text_inner">
                  <h4>Gana el Diseño y Desarrollo de Un Sitio Web Gratis</h4>
                  <ul>
                      <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                      <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Archive</a></li>
                      <li><a href="static.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Static Page</a></li>
                  </ul>
              </div>
          </div>
      </section>
      <!--================End Banner Area =================-->