<!--================Banner Area =================-->
<section class="banner_area">
  <div class="container">
      <div class="banner_text_inner">
          <h4>Conoce Nuestros Servicios Tecnologia Utilizada y Mas </h4>
          <ul>
              <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
              <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Archive</a></li>
              <li><a href="static.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Static Page</a></li>
          </ul>
      </div>
  </div>
</section>
<!--================End Banner Area =================-->

<section class="latest_news_area p_100">
  <div class="container">
      <div class="b_center_title">
          <h2>Latest News</h2>
          <p>We Are A Creative Digital Agency. Focused on Growing Brands Online</p>
      </div>
      <div class="l_news_inner">
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="l_news_item">
                      <div class="l_news_img"><a href="#"><img class="img-fluid" src="assets/img/blog/l-news/l-news-1.jpg" alt=""></a></div>
                      <div class="l_news_content">
                          <a href="#"><h4>We Create Experiences</h4></a>
                          <p>The Fancy that recognize the talent and effort of the best web designers, develop-ers and agencies in the world.</p>
                          <a class="more_btn" href="#">Learn More</a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="l_news_item">
                      <div class="l_news_img"><a href="#"><img class="img-fluid" src="assets/img/blog/l-news/l-news-2.jpg" alt=""></a></div>
                      <div class="l_news_content">
                          <a href="#"><h4>Simple, Fast And Fun</h4></a>
                          <p>The Fancy that recognize the talent and effort of the best web designers, develop-ers and agencies in the world.</p>
                          <a class="more_btn" href="#">Learn More</a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="l_news_item">
                      <div class="l_news_img"><a href="#"><img class="img-fluid" src="./assets/img/blog/l-news/l-news-3.jpg" alt=""></a></div>
                      <div class="l_news_content">
                          <a href="#"><h4>Device Friendly</h4></a>
                          <p>The Fancy that recognize the talent and effort of the best web designers, develop-ers and agencies in the world.</p>
                          <a class="more_btn" href="#">Learn More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="static_area">
  <div class="container">
      <div class="static_inner">
          <div class="row">
              <div class="col-lg-12">
                  <div class="static_main_content">
                      <div class="static_social">
                          <ul>
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              <li><a href="#"><i class="fa fa-thumb-tack" aria-hidden="true"></i></a></li>
                          </ul>
                      </div>
                      <div class="static_img">
                          <img class="img-fluid" src="assets/img/static-1.jpg" alt="">
                      </div>
                      <div class="static_text">
                          <p>Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea. Liusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qui s nostrud exercitation ullamLorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                          <p>Duis aute irure Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                      </div>
                      <div class="static_text2">
                          <h3>The best Wordpress Theme 2017</h3>
                          <p>Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea. Liusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qui s nostrud exercitation ullamLorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      </div>
                      <div class="media">
                          <div class="d-flex">
                              <h6>“</h6>
                          </div>
                          <div class="media-body">
                              <p>“If you’re going to try, go all the way. There is no other feeling like that. You will be alone with the gods, and the nights will flame with fire. You will ride life straight to perfect laughter. It’s the only good fight there is.” </p>
                              <h5><a href="#">Aigars Silkalns</a> - CEO DeerCreative</h5>
                          </div>
                      </div>
                      <div class="static_text2">
                          <h3>Unique Design & Easy Custom</h3>
                          <p>Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea. Liusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qui s nostrud exercitation ullamLorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                          <p>Duis aute irure Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                      </div>
                  </div>
              </div>
              </div>
      </div>
  </div>
</section>