<!--================Banner Area =================-->
<section class="banner_area">
  <div class="container">
      <div class="banner_text_inner">
          <h4>{{dataPaginaService.infoServicio.titulop}} </h4>
          <ul>
              <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
              <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Archive</a></li>
              <li><a href="static.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Static Page</a></li>
          </ul>
      </div>
  </div>
</section>
<!--================End Banner Area =================-->

<section class="latest_news_area p_100">
  <div class="container">
      <div class="b_center_title">
          <h2>Un poco de lo que ofrecemos </h2>
          <p></p>
      </div>
      <div class="l_news_inner">
          <div class="row">
              <div class="col-lg-4 col-md-6" *ngFor="let servicio of dataPaginaService.servicios">
                  <div class="l_news_item">
                      <div class="l_news_img"><a href="#"><img class="img-fluid" src="assets/img/PARASENDI.jpg" alt=""></a></div>
                      <div class="l_news_content">
                          <a href="#"><h4>{{servicio.titulo}}</h4></a>
                          <p>{{servicio.contenido}}</p>
                         
                      </div>
                  </div>
              </div>
              
              
          </div>
      </div>
  </div>
</section>

<section class="static_area">
  <div class="container">
      <div class="static_inner">
          <div class="row">
              <div class="col-lg-12">
                  <div class="static_main_content">
                      <div class="static_social">
                          <ul>
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              <li><a href="#"><i class="fa fa-thumb-tack" aria-hidden="true"></i></a></li>
                          </ul>
                      </div>
                      <div class="static_img">
                          <img class="img-fluid" src="assets/img/static-1.jpg" alt="">
                      </div>
                      <div class="static_text">
                            <h2>Que Usamos</h2>

                            <h3>{{dataPaginaService.infoServicio.titulo0}}</h3>
                          <p> {{dataPaginaService.infoServicio.contenido0}} </p>
                          
                      </div>
                      <div class="static_text2">
                            <h3>{{dataPaginaService.infoServicio.titulo1}}</h3>
                          <p>{{dataPaginaService.infoServicio.contenido1}}</p>
                      </div>
                      <div class="static_text2">
                            <h3>{{dataPaginaService.infoServicio.titulo2}}</h3>
                          <p>{{dataPaginaService.infoServicio.contenido2}}</p>
                      </div>
                      <div class="media">
                          <div class="d-flex">
                              <h6></h6>
                          </div>
                          
                      </div>
                      <div class="static_text2">
                          <h3>Unique Design & Easy Custom</h3>
                          <p>Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea. Liusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qui s nostrud exercitation ullamLorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                          <p>Duis aute irure Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                      </div>
                  </div>
              </div>
              </div>
      </div>
  </div>
</section>