<app-slider></app-slider>
<!--================Creative Feature Area =================-->
<section class="creative_feature_area">
  <div class="container">
      <div class="c_feature_box">
          <div class="row">
              <div class="col-lg-4">
                  <div class="c_box_item">
                      <a href="#"><h4><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> titulo</h4></a>
                      <p>contenido. </p>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="c_box_item">
                      <a href="#"><h4><i class="fa fa-clock-o" aria-hidden="true"></i> Expertise</h4></a>
                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="c_box_item">
                      <a href="#"><h4><i class="fa fa-diamond" aria-hidden="true"></i> Quality</h4></a>
                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="digital_feature p_100">
          <div class="row">
              <div class="col-lg-6">
                  <div class="d_feature_text">
                      <div class="main_title">
                          <h2>We Are A Creative <br /> Digital Agency Focused on Growing Brands Online</h2>
                      </div>
                      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.</p>
                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia dese mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>
                      <a class="read_btn" href="#">Read more</a>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="d_feature_img">
                      <img src="img/feature-right.jpg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--================End Creative Feature Area =================-->
<!--================Our Service Area =================-->
<section class="service_area">
  <div class="container">
      <div class="center_title">
          <h2>titulo</h2>
          <p>contenido</p>
      </div>
      <div class="row service_item_inner">
          <div class="col-lg-4">
              <div class="service_item">
                  <i class="ti-ruler-pencil"></i>
                  <h4>titulo</h4>
                  <p>contenido.</p>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="service_item">
                  <i class="ti-desktop"></i>
                  <h4>Website Development</h4>
                  <p>The Fancy that recognize the talent and effort of the best web designers, developers and agencies in the world.</p>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="service_item">
                  <i class="ti-announcement"></i>
                  <h4>Digital Marketing</h4>
                  <p>The Fancy that recognize the talent and effort of the best web designers, developers and agencies in the world.</p>
              </div>
          </div>
      </div>
  </div>
</section>
<!--================End Our Service Area =================-->

<!--================Industries Area =================-->
<section class="industries_area">
  <div class="left_indus">
      <div class="indus_img">
          <img src="img/indus-laptop.png" alt="">
      </div>
  </div>
  <div class="right_indus">
      <div class="indus_text">
          <div class="main_title">
              <h2>We Serve All Industries</h2>
              <p>We stay on top of our industry by being experts in yours. We measure our success by the results we drive for our clients.</p>
          </div>
          <div class="our_skill_inner">
              <div class="single_skill">
                  <h3>Website Design</h3>
                  <div class="progress" data-value="90">
                      <div class="progress-bar">
                          <div class="progress_parcent"><span class="counter">90</span>%</div>
                      </div>
                  </div>
              </div>
              <div class="single_skill">
                  <h3>Brand Strategy</h3>
                  <div class="progress" data-value="95">
                      <div class="progress-bar">
                          <div class="progress_parcent"><span class="counter">95</span>%</div>
                      </div>
                  </div>
              </div>
              <div class="single_skill">
                  <h3>Digital Marketing</h3>
                  <div class="progress" data-value="85">
                      <div class="progress-bar">
                          <div class="progress_parcent"><span class="counter">85</span>%</div>
                      </div>
                  </div>
              </div>
              <div class="single_skill">
                  <h3>Website Development</h3>
                  <div class="progress" data-value="90">
                      <div class="progress-bar">
                          <div class="progress_parcent"><span class="counter">90</span>%</div>
                      </div>
                  </div>
              </div>
          </div>
          <a class="read_btn" href="#">Work with us</a>
      </div>
  </div>
</section>
<!--================End Industries Area =================-->