<!--================Search Area =================-->
<section class="search_area">
  <div class="search_inner">
      <input type="text" placeholder="Enter Your Search...">
      <i class="ti-close"></i>
  </div>
</section>
<!--================End Search Area =================-->

<!--================Header Menu Area =================-->
<header class="main_menu_area">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active"><a class="nav-link" href="index.html" >Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#" routerLink="/servicios">Servicios</a></li>
              <li class="nav-item"><a  href="#" routerLink="/free">Gratis</a></li>
              <li class="nav-item"><a class="nav-link" href="#" routerLink="/unete">Unete</a></li>
              <li class="nav-item"><a class="nav-link" href="#" routerLink="/informacion">De Interes</a></li>
              <li class="nav-item"><a class="nav-link" href="#" routerLink="/contacto">Contacto</a></li>
          </ul>
          <ul class="navbar-nav justify-content-end">
              <li><a href="#"><i class="icon_search"></i></a></li>
              <li><a href="#"><i class="icon_bag_alt"></i></a></li>
          </ul>
      </div>
  </nav>
</header>